.sobre_da_pagina{
    margin-top: 10px;
}
.sobre_title{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.paragrafo2{
    padding-top: 10px;
}